<section class="footer">
    <footer>
       <i class="social_icon fab fa-instagram"></i>
       <i class="social_icon fab fa-facebook-f"></i>
       <i class="social_icon fas fa-envelope"></i>
       <p style="color:#bdc7c9;">© Copyright 2021 C-Guide</p>
  </footer>

  </section>
