<section id="Footer">
    <footer>
       <a href="https://www.instagram.com/_sanskar__14/" style="color:black"><i class="social_icon fab fa-instagram"></i></a>
       <a href="https://www.facebook.com/profile.php?id=100009164901429" style="color:black"><i class="social_icon fab fa-facebook-f"></i></a>
       <i class="social_icon fas fa-envelope"></i>
       <p style="color:#bdc7c9;">© Copyright 2021 C-Guide</p>
  </footer>

  </section>
