<%- include('partials/lheader') %>


<div class="jumbotron centered" style="background-color:#CCF2F4">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <img src="/Images/CG.jpg" alt="">
    <h1 class="display-3">C-Guide</h1>
    <p class="lead" style="font-weight:normal">Don't keep your doubts, get them solved!</p>
    <hr style="background-color:red;margin-bottom:30px;margin-top:30px;">
    <a class="btn btn-light btn-lg" style="margin-right:10px;" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/lfooter') %>
