<%- include("partials/header") -%>
  <div class="dropdown">
     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Read Comments</button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
     <!-- <a class="dropdown-item" href="#">Action</a> -->
     <div class="card">

       <div class="card-header">
           <h5 class="card-title"><img class="user_image" src="https://st3.depositphotos.com/3581215/18899/v/1600/depositphotos_188994514-stock-illustration-vector-illustration-male-silhouette-profile.jpg" alt="">Current user name</h5>
           <h6 class="card-subtitle mb-2 text-muted"><span>Shared publicly</span> - <span>xyz date</span></h6>
       </div>

        <div class="card-body">
          <p class="card-text"> comments.................................................. </p>
        </div>
     </div>
    </div>
  </div>

<%- include("partials/footer1") -%>
